openai
python-dotenv
geopandas
pandas
matplotlib
shapely
requests
folium
json5
scikit-learn
tqdm
plotly
jupyterlab
ipython
pytest
black
flake8
mlflow
wandb
seaborn
fastapi
uvicorn
nest-asyncio
pydantic
pyyaml